.commentDiv{
    margin-top: 10px;
    color: #515050;
}

.commentInputArea{
    width: 68%;
    background-color: white;
    margin-left: 15%;
    border-radius: 2px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    text-align: start;
}

#commentArea{
    width: 99.2%;
    height: 60px;
    background-color: #f8ecff;
    font-size: 20px;
    border-color: #c1c0c0;
}

#commentBtn{
    background-color: #6501f3;
    color: white;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.allComments{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    background-color: #f8ecff;  
    text-align: start;
    font-weight: 700;
}

#cmts{
    margin-top: 5px;
}