.container{
    /* width: 100%; */
    min-height: 100vh;
    height: 100%;
    background-color: #edeaff;
    
}

.header{
    height: 55px;
    background-color: #6501f3;
    color: white;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 10px;
}

.body{
    text-align: center;
    padding-top: 30px;
}

#searchBar{
    height: 40px;
    width: 45%;
    border: none;
    font-size: 30px;
    padding-left: 5px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    border-radius: 3px; 
}

#searchBtn{
    margin-left: 2px;
    height: 40px;
    width: 10%;
    border: none;
    background-color: #6501f3;
    color: white;
    font-size: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}